@font-face {
    font-family: 'Dopestyle';
    src: url('Dopestyle.ttf') format('truetype');
}

 #titre {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  color: yellow;
  font-family: 'Dopestyle', Arial, serif;
  text-align: center;
  font-size: 50px;
}

#titrechall2 {
 display: flex;
 justify-content: center;
 align-content: flex-start;
 color: yellow;
 font-family: 'Dopestyle', Arial, serif;
 font-size: 50px;
}


body {

 background-image: url(http://www.pizza-jory.fr/userfiles/2740/Pizza_Jory_fond.jpg);
 /*background-position: center;*/
 /*background-repeat: no-repeat;     */
 background-attachment: scroll;
 height: 100%;
 width:100%;
 /*max-width: 1000px;
 min-width: 1000px;*/

}



#chall1
{
    font-family: 'Dopestyle', Arial, serif;
    display: flex;
    justify-content: space-between;
    align-items : flex-start;
    flex-direction: row;
    border-style: solid;
        color: white;
        font-size: 50px;
}

.image {
background-size: cover;
width: 300px;
height: 200px;
/*width: 50%;*/
}
.image1 {
background-size: cover;
width: 300px;
height: 200px;
transition: 0.9s;
}

.image1:hover {

  transform: rotateZ(10deg)
}

.nompizza
{
  font-family: 'Dopestyle', Arial, serif;
  font-size: 20px;
  color: white;
}


#imagepizza {
transition: 0.5s;
}

#imagepizza:hover
{
  transform: scale(1.2);
}







h4
{
  font-family: 'Dopestyle', Arial, serif;
  font-size: 30px;
  color: red;
}

#chall2
{
  border-style: solid;
  color: white;
  display: flex;
  justify-content: space-around;
  margin: auto;
  flex-wrap: wrap;

}

#chall3 {
  display: flex;
  flex-wrap: wrap;
}



@media screen and (max-width: 935px)
{

  .image1 {
    display : none; }

  img {
    width: 100%;
  }

}


 }

/*#chall2 {
    display: flex;*/
                                  /*justify-content: space-between;*/
                                  /*flex-wrap : wrap;*/
    /*align-items : baseline;*/
                                  /*align-content: flex-start;*/
                                  /*flex-direction: column*/
    /*border-style: solid;
    color: white;
    font-size: 30px;
}
.nompizza {
  justify-content: flex-start;
  align-content: flex-end;
}*/


/*
p {
  color: white;
  font-size: 30px;
  display: flex;
  align-items: flex-end;
}*/




/*#chal1
{
    display: flex;
    justify-content: flex-start;
    color: white;
    font-size: 50px;
    border: 40px solid transparent;



}

#regina
{
  width: 500px;
}*/



/*h3 {
  color: white;
  font-size: 20px;
  display: flex;
  align-items: flex-end;
}*/
